@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Oswald);

a {
	text-decoration: none;
	font-color: white;
}

blockquote {
	color: white;
	text-shadow: 2px 2px #000000;
	font-size: 200%;
}

body {
	padding-left: 5%;
	padding-right: 5%;
	font-family: Oswald, sans-serif;
	font-weight: 400;
	font-size: 100%;
	background-size: cover;
	/*background-image: linear-gradient(rgba(90,4,0, 0.8), rgba(35,33,33,0.8)),
				url("./images/marvel.jpg");*/
	background-image: linear-gradient(rgba(155,16,10,0.8), rgba(35,33,33,0.8)),
				url("./images/marvel.jpg");
	background-attachment: fixed;
	background-color: red;
	font-color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
	color: white;
}

h2 {
	font-color: white;
	text-decoration: none;	
}

header {
	padding-top: 20px;
	font-weight:80;
	letter-spacing: 2px;
	font-family: Anton, sans-serif;
	font-size: 250%;
	text-shadow: 5px 5px #000000;
	text-align: center;
	color: white;
	line-height: 90%;
}

p {
	font-size: 150%;
	font-color: white;
	text-shadow: 3px 3px #000000;
}
	
p a:visited {
	text-decoration: none;
	color: white;
	text-shadow: 3px 3px #000000;
}

p a:hover {
	color: gray;
	text-shadow: 3px 3px #000000;
}

p1 {
	font-size: 140%;
	font-color: white;
	text-shadow: 2px 2px #000000;
}

p2 {
	color: gray;
	text-shadow: 2px 2px #000000;
	}

p2 a:visited {
	color: gray;
	text-shadow: 2px 2px #000000;
}

p2 a:hover {
	color: white;
	text-shadow: 2px 2px #000000;
}

p3 {
	font-size: 120%;
	text-shadow: 2px 2px #000000;
}

/*.coverPhotos {
	height: 90%;
	width: 90%;
}*/

.coverPhotos {
	height: 432px;
	width: 288px;
}
	
a.home {
	float: right;
}

.menu {
	display: inline-block;
	width: 350px;
	height: 400px;
	zoom: 1; /*for ie*/
	display*: inline; /*for ie*/
}

.moviePhotos {
	padding-right: 20px;
	padding-bottom: 60px;
	height: 30%;
	width: 30%;
}

.yearGenre {
	text-align: left;
}