<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./styles.css"/>

<head>
<title>Movie Review</title>
</head>

<body>

	<header>
		<h1>Movie Review</h1>
	</header>

	<div>
		<h2 th:text="${review.title}"></h2>
		<h2 th:text="${review.releaseYear}"></h2>
		<h2 th:text="${review.reviewCategory}"></h2>
		<img th:src="${review.imageURL}"></img>
		<h2 th:text="${review.content}"></h2>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</div>

</body>
</html>